<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Amazona Product Details</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="icon" href="./images/favicon.png" />
  </head>
  <body>
    <div class="grid-container">
      <button class="sidebar-menu">&#9776;</button>
      <header class="header">
        <div class="brand">
          <a class="brand-link" href="./index.html">amazona </a>
        </div>
        <div>
          <a class="header-link" href="./cart.html">Cart</a>
          <a class="header-link" href="./signin.html">Sign in</a>
        </div>
      </header>
      <aside class="sidebar">
        <ul class="categories">
          <li>
            <h4>SHOP BY CATEGORY</h4>
            <button class="sidebar-menu-close">x</button>
          </li>
          <li>
            <a href="./category.html">Dress Shirts</a>
          </li>
          <li>
            <a href="./category.html"> Casual Shirts</a>
          </li>
          <li>
            <a href="./category.html"> T-Shirt</a>
          </li>
          <li>
            <a href="./category.html"> Pants</a>
          </li>
          <li>
            <a href="./category.html"> Shoes </a>
          </li>
        </ul>
      </aside>
      <main class="main">
        <div class="back-to-results">
          <a href="./index.html"> ‹ Back to results</a>
        </div>
        <div class="details">
          <div class="details-image">
            <img src="images/d1.jpg" alt="image" />
          </div>
          <div class="details-info">
            <ul>
              <li>
                <h3>Casual Shirt France</h3>
              </li>
              <li>
                Rating: 4.5 (19,454)
              </li>
              <li>Price: <span class="price"> $145</span></li>
              <li>
                Size:
                <select>
                  <option>S</option>
                  <option>L</option>
                  <option>XL</option>
                </select>
              </li>
              <li>
                Features:
                <ul>
                  <li>
                    100% Cotton
                  </li>
                  <li>
                    Imported Machine Wash Made in Vietnam Same fit
                  </li>
                  <li>
                    long-sleeve button-up shirt a go-to pick
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="details-actions">
            <ul>
              <li>
                Price: $145
              </li>
              <li>
                Shipping Info
              </li>
              <li>
                State: In Stock
              </li>
              <li>
                Qty:
                <select>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </li>
              <li>
                <button
                  onclick="document.location.href='./cart.html'"
                  class="button primary full-width"
                >
                  Add to Cart
                </button>
              </li>
            </ul>
          </div>
        </div>
      </main>
      <footer class="footer">
        All rights reserved.
      </footer>
    </div>
    <script>
      const menuElm = document.querySelector(".sidebar-menu");
      menuElm.addEventListener("click", () => {
        const sidebar = document.querySelector(".sidebar");
        sidebar.classList.toggle("open");
      });
      const menuCloseElm = document.querySelector(".sidebar-menu-close");
      menuCloseElm.addEventListener("click", () => {
        const sidebar = document.querySelector(".sidebar");
        sidebar.classList.toggle("open");
      });
    </script>
  </body>
</html>
