<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Amazona Shipping</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="grid-container">
      <button class="sidebar-menu">&#9776;</button>
      <header class="header">
        <div class="brand">
          <a class="brand-link" href="./index.html">amazona</a>
        </div>
        <div>
          <a class="header-link" href="./cart.html">Cart</a>
          <a class="header-link" href="./signin.html">Sign in</a>
        </div>
      </header>
      <aside class="sidebar">
        <ul class="categories">
          <li>
            <h4>SHOP BY CATEGORY</h4>
            <button class="sidebar-menu-close">x</button>
          </li>
          <li>
            <a href="./category.html">Dress Shirts</a>
          </li>
          <li>
            <a href="./category.html"> Casual Shirts</a>
          </li>
          <li>
            <a href="./category.html"> T-Shirt</a>
          </li>
          <li>
            <a href="./category.html"> Pants</a>
          </li>
          <li>
            <a href="./category.html"> Shoes </a>
          </li>
        </ul>
      </aside>
      <main class="main">
        <div class="checkout-steps">
          <div class="active">
            Sign-In
          </div>
          <div class="active">
            Shipping
          </div>
          <div>
            Payment
          </div>
          <div>
            Place Order
          </div>
        </div>
        <div class="shipping">
          <form action="/api/signin">
            <ul class="form-container">
              <li><h2>Shipping</h2></li>
              <li>
                <label for="address">Address </label>
                <input type="text" name="address" id="address" />
              </li>
              <li>
                <label for="city">City </label>
                <input type="text" name="city" id="city" />
              </li>

              <li>
                <label for="postalCode">Postal Code </label>
                <input type="text" name="postalCode" id="postalCode" />
              </li>
              <li>
                <label for="country">Country </label>
                <input type="text" name="country" id="country" />
              </li>
              <li>
                <button
                  type="button"
                  onclick="document.location.href='./payment.html'"
                  class="button primary full-width"
                >
                  Continue
                </button>
              </li>
            </ul>
          </form>
        </div>
      </main>
      <footer class="footer">
        All rights reserved.
      </footer>
    </div>
    <script>
      const menuElm = document.querySelector(".sidebar-menu");
      menuElm.addEventListener("click", () => {
        const sidebar = document.querySelector(".sidebar");
        sidebar.classList.toggle("open");
      });
      const menuCloseElm = document.querySelector(".sidebar-menu-close");
      menuCloseElm.addEventListener("click", () => {
        const sidebar = document.querySelector(".sidebar");
        sidebar.classList.toggle("open");
      });
    </script>
  </body>
</html>
